.btn {
  border:none;
  color:#fff;
  text-transform:uppercase;
  padding:10px;
  margin-right: 30px;
  cursor:pointer;
}

.btn-left {
  float:left;
}

.btn-right {
  float:right;
}

.btn-blue {
  background:#6699ff;
}

.btn-blue:hover {
  background:#1a66ff;
}

.btn-red {
  background:#FF0057;
}

.btn-ref:hover {
  background:#cc0044;
}

.btn-green {
  background:#47d147;
}

.btn-green:hover {
  background:#2eb82e;
}

.pageEnd {
    position: fixed;
    bottom: 7px;
    width: 100%;
}
