#TimeBooking {
  border-collapse: collapse;;
  width: 100%;
}

#TimeBooking td, #TimeBooking th {
  border: 1px solid #ddd;
  padding: 8px;
}

#TimeBooking tr:nth-child(even) {
  background-color: #f2f2f2;
}

#TimeBooking tr:hover {
  background-color: #ddd;
}

#TimeBooking th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6699ff;
  color: white;
}
